<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gamer</title>
    <script src="https://kit.fontawesome.com/359284d803.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/mediaQueries.css">


</head>

<body>

    <!-- header -->
    <header class="header">
        <section class="header-left">
            <img class="logo" src="/images/logo.jpg" alt="">
        </section>

        <section class="header-main">

            <ul>
                <li><a href="#">
                        <h1>REVIEWS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>TOPS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>NEWS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>VIDEOS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>PROGRAM</h1>
                    </a></li>
                <li><a href="#">
                        <h1>PODCASTS</h1>
                    </a></li>
            </ul>

        </section>

        <section class="header-right">

            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            </ul>

            <i class="fa-solid fa-bars" id="bars-menu"></i>

        </section>
    </header>

    <!-- main -->
    <div class="container">
        <main>

            <!-- opening -->
            <section class="opening">

                <!-- fig1 -->
                <figure>
                    <a href="">
                        <img class="crop" src="/images/hellblade.jpg" alt="">
                    </a>

                    <div class="text">

                        <a href="">
                            <h4>HELLBLADE</h4>
                        </a>

                        <h2 class="title">Hellblade: Senua's Sacrifice</h2>
                        <div class="author">
                            <h5>Por Elías Rosenfeld</h5>
                        </div>
                    </div>
                </figure>

                <!-- fig2 -->
                <figure>
                    <a href="">
                        <img class="crop" src="/images/halo.jpeg" alt="">
                    </a>

                    <div class="text">
                        <a href="">
                            <h4>HALO</h4>
                        </a>

                        <h2 class="title">Halo Infinite</h2>
                        <div class="author">
                            <h5>Por David Rosenberg</h5>
                        </div>
                    </div>
                </figure>

                <!-- fig3 -->
                <figure>
                    <a href="">
                        <img class="crop" src="/images/forza.jpg" alt="">
                    </a>

                    <div class="text">
                        <a href="">
                            <h4>FORZA</h4>
                        </a>

                        <h2 class="title">Forza Horizon 5</h2>
                        <div class="author">
                            <h5>Por Nathan Coval</h5>
                        </div>
                    </div>
                </figure>


            </section>


            <section class="lastNews">
                <div class="title">
                    <h1>Last News</h1>

                </div>
                



            </section>





        </main>
    </div>



</body>

</html>