<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gamer</title>
    <script src="https://kit.fontawesome.com/359284d803.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/mediaQueries.css">


</head>

<body>

    <!-- header -->
    <header class="header">
        <section class="header-left">
            <img class="logo" src="/images/logo.jpg" alt="">
        </section>

        <section class="header-main">

            <ul>
                <li><a href="#">
                        <h1>REVIEWS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>TOPS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>NEWS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>VIDEOS</h1>
                    </a></li>
                <li><a href="#">
                        <h1>PROGRAM</h1>
                    </a></li>
                <li><a href="#">
                        <h1>PODCASTS</h1>
                    </a></li>
            </ul>

        </section>

        <section class="header-right">

            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            </ul>

            <i class="fa-solid fa-bars" id="bars-menu"></i>

        </section>
    </header>

</body>

</html>