<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/359284d803.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/podcast.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/mediaQueries.css" />

</head>

<body>

    <!-- header -->
    <div>
        <%- include("./partials/header.ejs") %>
    </div>



    <!-- article -->

    <section class="article">
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, amet.</h1>

        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quam culpa error quasi hic iusto!
        </h2>

        <p>Lorem ipsum dolor sit amet.</p>

        <div class="articleBody">

            <img src="/images/podcasts/aloneA.jpg" alt="">


            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, fugit voluptate deleniti in dolor laborum ad quae veritatis sunt libero omnis optio minus illum quod. Reiciendis maiores, aut at nesciunt adipisci similique culpa provident distinctio quasi consectetur unde id fugit minus natus neque harum. Voluptates voluptatibus assumenda aliquam sit veniam.</p>


            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4hBvvDbdHsC6ywO3JHXAwZ?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


            <iframe width="100%" height="150" src="https://www.youtube.com/embed/zsGaVrMr9N8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    

        </div>

    </section>


    <div>
        <%- include("./partials/footer.ejs") %>
    </div>


</body>

</html>