@media screen and (max-width: 768px) {

    * .title {
        margin-top: 5rem ;
    }

    /* header */
    .logo {
        width: 30%;
        padding: 10px;
        margin: auto;

    }

    .header .header-main,
    .header .header-right ul {
        display: none;
    }

    .header .header-left,
    .header .header-right {
        width: 50vw;
    }

    .logIcon i {
        left: 12rem;
    }

    #bars-menu {
        display: block;
        background-color: black;
        color: white;
        font-size: 25px;
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 5px;
        align-self: center;
        margin: auto;
    }

    /* main */
    /*opening*/
    .container {
        background-color: white;        
        width: 100%;
        margin: 8rem auto;

    }

    .opening figure {
        grid-column: 1/-1;

    }

    .opening figure .crop {
        width: 100%;
        margin-bottom: -8rem;
        /*BUSCAR MANERA DE NO OCUPAR ESPACIO CON PO
     POSITION RELATIVE  */
    }


    .opening {
        position: relative;
    }

    .opening .text {
        z-index: 100;
        position: relative;
        color: white;
        font-size: 20px;
        bottom: 50px;
        left: 10px;

    }



    /* news */  
    .lastNewsArticle,
    .lastNewsArticle {
        grid-column: 1/-1;

    }
    
    .lastNewsArticle:nth-child(1) {
        grid-column-start: span 3;
        grid-row-start: span 1;
    }

    .lastNewsArticle:nth-child(2) {
        grid-column-start: span 3;

    }

    .lastNewsArticle:nth-child(6) {
        grid-row-start: span 1;
    }

    /* podcasts */

    .podcastsGallery,
    .lastReviewsGallery {
        grid-auto-rows: 300px;
    }

    .podcastsArticle,
    .lastReviewsArticle {
        grid-column: 1/-1;

    }


    /* staffpicks */

    .staffPicksGallery .staffPicksContent {
        grid-column: 1/-1;

    }

    .staffPicksGallery .staffPicksSidebar {
        grid-column: 1/-1;
        border: none;
    }

    .staffPicksContent .staffPicksArticle {
        display: block;
    }

    .staffPicksArticle img {
        width: 100%;
    }


    /* carousels */


    /* news */

    .newsArticle {
        border-top: 1px solid black;
    }

    .newsArticle:nth-child(1) {
        border: none;
    }


    /* footer */

    .footer img {
        width: 35%;
        justify-content: center;
        align-items: center;
    }

    .midFooter {
        min-height: 150px;         
    }
    
    .midFooter ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        justify-content: center;
        font-size: 15px;    
    }
    
    .midFooter ul li a {
        margin: 0 1rem;
    }

    .search-box {
        display: none;
    }   

}

@media screen and (min-width: 768px) {

    /* header */
    .logo {
        width: 20%;
    }

    /* opening */

    .opening {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .opening figure {
        position: relative;

    }

    .opening figure .crop {
        object-fit: cover;
        width: 455px;
        height: 700px;
        margin: auto;

    }

    .opening .text {
        z-index: 100;
        position: absolute;
        bottom: 50px;

        color: white;
        font-size: 20px;
        left: 10px;
    }


    /* footer */

    .footer img {
        width: 15%;
        justify-content: center;
        align-items: center;
    }



 
    
}