/* CONFIG */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 1.5px;
    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

/* header */
.header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 60%;

    opacity: 0.8;
    display: flex;
    justify-content: space-around;



    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-left,
.header-right {
    width: 25vw;
    display: flex;
}

.header-main {
    width: 50vw;
}

#bars-menu {
    display: none;
}

.header .logo {
    /* width: 20%; */
    object-fit: cover;
}

.header-main {
    justify-content: center;
    display: flex;
    width: 100%;
}

.header-main ul {
    align-items: center;
}

.header-main ul li {
    margin: 1rem;
}

.header ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-right ul {
    position: relative;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right ul i {
    font-size: 20px;
    margin: 10px;
}

/* main */

.container {
    background-color: white;
    /* border: solid black 1px; */
    width: 90%;
    max-width: 1400px;
    margin: 8rem auto;
}


/*global titles  */
.lastNews .title,
.podcasts .title,
.staffPicks .title,
.lastReviews .title,
.news .title {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 3rem;
}

/* last news */
.lastNewsGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    padding-top: 10px;
    grid-gap: 5px;
}

.lastNewsArticle {
    position: relative;
}

.lastNewsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.lastNewsArticle:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 2;
}

.lastNewsArticle:nth-child(2) {
    grid-column-start: span 2;
}

.lastNewsArticle:nth-child(6) {
    grid-row-start: span 3;
}


.lastNewsTitle {
    position: absolute;
    bottom: 0;
    color: white;

}


.lastNewsText {
    position: absolute;
    bottom: 0;
    left: 15%;
    color: white;
}

/* podcasts // lastReviews */



.podcastsGallery,
.lastReviewsGallery {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
    margin-top: 1rem;
    grid-gap: 5px;
}

.podcastsArticle,
.lastReviewsArticle {
    position: relative;
}

.podcastsImage,
.lastReviewsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.podcastsTitle,
.lastReviewsTitle {
    position: absolute;
    bottom: 0;
    color: white;
}

.podcastsText,
.lastReviewsText {
    position: absolute;
    bottom: 0;
    left: 15%;
    color: white;
}





/* staffPicks */

.staffPicksGallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.staffPicksGallery .staffPicksContent {
    grid-column: span 3;    
    display: grid;
    padding: 10px;
}

.staffPicksContent .staffPicksArticle { 
    grid-row-start: span 2;   
    display: flex;
    margin: 1rem;    
}

.staffPicksContent .staffPicksArticle .staffPicksInfo {
    margin: 1rem;
}





/* sidebar */

.staffPicksGallery .staffPicksSidebar {
    border: solid black 1px;
    padding: 10px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.staffPicksGallery .staffPicksSidebar img {
    width: 15%;
    margin-top: 3rem;
    border-radius: 80px;
}

.staffPicksGallery .staffPicksSidebar a {
    color: black;
}


