/* CONFIG */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'News Cycle', sans-serif;
    letter-spacing: 1.5px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

/* header */

.header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 60%;

    opacity: 0.8;
    display: flex;
    justify-content: space-around;



    position: fixed;
    top: 0;
    z-index: 1000;
}


.header-left,
.header-right {
    width: 30vw;
    display: flex;
}



.header-main {
    width: 50vw;
}

#bars-menu {
    display: none;
}


.header .logo {
    /* width: 20%; */
    object-fit: cover;
}

.header-main {
    justify-content: center;
    display: flex;
    width: 100%;
}

.header-main ul {
    align-items: center;
}

.header-main ul li {
    margin: 1rem;
}

.header-right {
    display: flex;
    align-items: center;
}

/* header / topFooter */

.topFooter ul,
.header ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-right ul {
    border-left: white 1px solid;
}

.topFooter ul,
.header-right ul {
    position: relative;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topFooter ul i,
.header-right ul i {
    font-size: 25px;
    margin: 10px;
}


/* search-bar */

.search-box {
    right: 3rem;
    width: fit-content;
    height: fit-content;
    position: relative;
    color: white;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: white;
    padding-right: 40px;
    color: white;
}

.input-search::placeholder {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: black;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    color: white;
    position: relative;
    right: auto;
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



/* main */

.container {
    background-color: white;
    width: 90%;
    max-width: 1400px;
    margin: 8rem auto;
}


/*global titles  */
* .title {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 3rem;

}

/* last news */
.newsGallery,
.lastNewsGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    padding-top: 10px;
    grid-gap: 5px;
}

.newsArticle,
.lastNewsArticle {
    position: relative;
}

.newsImage,
.lastNewsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.lastNewsArticle:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 2;
}

.lastNewsArticle:nth-child(2) {
    grid-column-start: span 2;
}

.lastNewsArticle:nth-child(6) {
    grid-row-start: span 3;
}

/* .newsTitle, */
.lastNewsTitle {
    position: absolute;
    bottom: 0;
    color: white;
}


/* .newsText, */
.lastNewsText {
    position: absolute;
    bottom: 0;
    left: 15%;
    color: white;
}

/* podcasts // lastReviews */


.podcastsGallery,
.lastReviewsGallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
    margin-top: 1rem;
    grid-gap: 5px;
}

.podcastsArticle,
.lastReviewsArticle {
    position: relative;
}

.podcastsImage,
.lastReviewsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.podcastsTitle,
.lastReviewsTitle {
    position: absolute;
    bottom: 0;
    color: white;
}

.podcastsText,
.lastReviewsText {
    position: absolute;
    bottom: 0;
    left: 15%;
    color: white;
}





/* staffPicks */

.staffPicksGallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.staffPicksGallery .staffPicksContent {
    grid-column: span 3;
    display: grid;
    padding: 10px;
}

.staffPicksContent .staffPicksArticle {
    grid-row-start: span 2;
    display: flex;
    margin: 1rem;
}

.staffPicksContent .staffPicksArticle .staffPicksInfo {
    margin: 1rem;
}





/* sidebar */

.staffPicksGallery .staffPicksSidebar {
    border: solid black 1px;
    padding: 10px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.staffPicksGallery .staffPicksSidebar img {
    width: 15%;
    margin-top: 3rem;
    border-radius: 80px;
}

.staffPicksGallery .staffPicksSidebar a {
    color: black;
}


/* carousel  */

.carousel-container {
    width: 100%;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
}

.carousel-container .carousel-inner {
    overflow: hidden;
}

.carousel-container .track {
    display: inline-flex;
    transition: transform 0.5s;
}

.carousel-container .card-container {
    width: 259px;
    flex-shrink: 0;
    height: 250px;
    padding-right: 15px;
}

.carousel-container .card-container .card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav .prev {
    left: -30px;
    display: none;
}

.nav .prev.show {
    display: block;
}

.nav .next {
    right: -30px;
}

.nav .next.hide {
    display: none;
}

.card>* {
    flex: 1;
}

.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.card .info {
    width: 100%;
    flex-basis: 40px;
    color: white;
    flex-grow: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid white;
}

/*  news */

.newsGallery {
    gap: 1.5rem;

}

.newsArticle {
    width: 100%;
    display: flex;
    padding: 1rem;
    grid-column-start: span 3;

}


.newsImage {
    width: 50%;
    grid-column-start: span 2;
}

.newsInfo {
    margin: 0 1rem;
}


.newsText {
    max-width: 500px;
}


/* footer */

.topFooter {
    background-color: rgba(18, 16, 19, 255);
    opacity: 0.8;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
}

.topFooter-left {
    display: flex;
}

.topFooter-right {
    display: flex;
    align-items: center;
}

.midFooter {
    min-height: 200px;
    width: 100%;
    background-color: #FEF9E7;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;

}

.midFooter ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;

}

.midFooter ul li a {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.midFooter ul a {
    margin: 0 1rem;
}

.lowFooter {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}